<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>

        
    </head>
    <body>
        <ul>
            <% if(user) { %>
            <li><a href="auth/logout">LOG OUT</a></li>
            <%  }else { %>
            <li><a href="auth/login">LOG IN </a></li>
            <% } %>
            <li><a href="/"> Homepage</a></li>
            <li><a href="/profile"> profile</a></li>

        </ul>
    </body>
</html> 
