<!DOCTYPE html>
<html>
    <head>
        <title>
 
        </title>
    </head>
    <body>
        <ul>
            <li><a href="/auth/logout">LOG OUT</a></li>
            <li><a href="/auth/login">LOG IN </a></li>
            <li><a href="/"> Homepage</a></li>
        </ul>
        <a href="/auth/google">Google+</a>
    </body>
</html> 
