<!DOCTYPE html>
<html>
    <head>
        <title>
 
        </title>
    </head>
    <body>
        <ul>
            <li><a href="/auth/logout">LOG OUT</a></li>
            <!-- <li><a href="/auth/login">LOG IN </a></li> -->
            <li><a href="/"> Homepage</a></li>
        </ul>
        <h1>welcome <%= user.username %></h1>
        <img src="<% user.thumbnail   %>" > 
        <p>extra information . </p>
    </body>
</html> 
 